.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
}
.tile-list-item {
  height: 80;
}

.tile-list-item text {
  height: 32;
  font-family: System-Regular;
  fill: "white";
}
cycle-item text {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  fill: white;
  text-anchor: end;
}